<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Boat Rentals{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>

<header>
    <div class="topBar">

        <a href="/">Home</a>
        <a href="/boats">Boats</a>
        <a href="/search">Search</a>
        
        {% if session.get('is_admin') %}
            <a href="/create">Create</a>
        {% endif %}

        <div>
            {% if session.get('user_id') %}
                <span>{{ session['email'] }}</span>
                {% if session.get('is_admin') %}
                    <a href="/admin">Admin Dashboard</a>
                {% endif %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            {% endif %}
        </div>
    </div>
</header>

<main>
    {% block body %}{% endblock %}
</main>

</body>
</html>